.error-message {
    color: red;
    font-size: 0.875rem;
    position: absolute;
}

.asterisk {
    margin-left: 0.25rem;
    color: red;
}

.clear {
    background-color: #04203C;
    color: #FFFFFF;
}

.clear:hover {
    background-color: #04203C;
    color: #FFFFFF;
}