.input-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.label {
    font-size: 1.125rem;
    font-family: NotoSansTC-Bold;
    display: block;
    margin-bottom: 1rem;
    line-height: 1.6875rem;
    width: fit-content;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    position: absolute;
    bottom: -20px;
}

.asterisk {
    margin-left: 0.25rem;
    color: red;
}

.date-picker {
    border: 0.125rem solid #04203c;
    border-radius: 0.3125rem;
    display: grid;
    background-color: #fff;
}