.container {
    position: relative;
    height: 100%;
}

.download {
    cursor: pointer;
    background-color: rgba(23, 22, 22, 0.4);
    color: #ffffff;
    padding: 4px;
    font-size: 24px;
    border-radius: 4px;
    margin-right: 8px;
}

.download:hover {
    color: rgba(23, 22, 22, 0.9);
}