.container {
  border: 0.125rem solid #04203c;
  border-radius: 0.3125rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modules-container {
  display: grid;
  grid-template-columns: 80px 1fr;
}

.module-container {
  height: 100%;
}

.add-tab {
  display: flex;
  justify-content: center;
  background-color: rgba(224, 219, 219, 0.492);
  border-radius: 0.3125rem;
  padding: 10px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.add-tab:hover {
  background-color: rgba(224, 219, 219, 0.669);
}

.tab {
  display: flex;
  justify-content: center;
  border-radius: 0.3125rem;
  padding: 10px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: none;
  cursor: pointer;
  position: relative;
}

.active {
  position: absolute;
  width: 10px;
  height: 100%;
  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
  left: 0;
  top: 0;
}

.hide {
  display: none;
}