.header {
    padding: 0rem 1.25rem 0.625rem 0rem;
    font-size: 1.125rem;
    font-family: NotoSansTC-Bold;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0.4rem;
}

.asterisk {
    margin-left: 0.25rem;
    color: red;
}