/* Geneva */
@font-face {
  font-family: "Geneva Regular";
  src: url('../assets/font/Geneva/Geneva\ Regular.ttf') format('truetype');
}

@font-face {
  font-family: "GENEV4";
  src: url('../assets/font/Geneva/GENEV4.ttf') format('truetype');
}

@font-face {
  font-family: "Geneva Bold-Italic";
  src: url('../assets/font/Geneva/Geneva\ Bold-Italic.ttf') format('truetype');
}

@font-face {
  font-family: "Geneva Normal-Italic";
  src: url('../assets/font/Geneva/Geneva\ Normal-Italic.ttf') format('truetype');
}

@font-face {
  font-family: "Geneva Normal";
  src: url('../assets/font/Geneva/Geneva\ Normal.ttf') format('truetype');
}

@font-face {
  font-family: "GENEVA";
  src: url('../assets/font/Geneva/GENEVA.ttf') format('truetype');
}

@font-face {
  font-family: "geneva";
  src: url('../assets/font/Geneva/geneva__.ttf') format('truetype');
}

/* NotoSansTC */
@font-face {
  font-family: "NotoSansTC-Medium";
  src: url('../assets/font/NotoSansTC/NotoSansTC-Medium.otf') format('opentype');
}

@font-face {
  font-family: "NotoSansTC-Black";
  src: url('../assets/font/NotoSansTC/NotoSansTC-Black.otf') format('opentype');
}

@font-face {
  font-family: "NotoSansTC-Bold";
  src: url('../assets/font/NotoSansTC/NotoSansTC-Bold.otf') format('opentype');
}

@font-face {
  font-family: "NotoSansTC-Light";
  src: url('../assets/font/NotoSansTC/NotoSansTC-Light.otf') format('opentype');
}

@font-face {
  font-family: "NotoSansTC-Regular";
  src: url('../assets/font/NotoSansTC/NotoSansTC-Regular.otf') format('opentype');
}

@font-face {
  font-family: "NotoSansTC-Thin";
  src: url('../assets/font/NotoSansTC/NotoSansTC-Thin.otf') format('opentype');
}


/* YusieMagic Bold */
@font-face {
  font-family: "YusieMagic-Bold";
  src: url('../assets//font/YuseiMagic/YuseiMagic-Regular.ttf') format("opentype");
}