
  .green-dot {
    margin-left: 1rem;
    width: 0.75rem;
    height: 0.75rem;
    background-color: green;
    border-radius: 50%;
  }

  .red-dot {
    margin-left: 1rem;
    width: 0.75rem;
    height: 0.75rem;
    background-color: red;
    border-radius: 50%;
  }